$color-black: #000;
$color-white: #fff;

// Sections Background Colors
$color-bg-01: #7c574c;
$color-bg-02: #e0f6fb;
$color-bg-03: #de9275;
$color-bg-04: #fcd8d2;
$color-bg-05: #fdedc3;
$color-bg-06: #fff0e2;

// Indicator Dots Colors
$color-indicator-01: #2c1d18;
$color-indicator-02: #9ed3e1;
$color-indicator-03: #9c5239;
$color-indicator-04: #f86146;
$color-indicator-05: #fdc029;
$color-indicator-06: #fbb170;

// Breakpoints
$breakpoint-xl-min: 1366px;
$breakpoint-lg-min: 1200px;
$breakpoint-md-min: 992px;